@charset "UTF-8";


section {
		margin: 0 auto;
    max-width: 66%;
    padding: 20px;
}	

#wrap section header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#wrap h2 {
    margin: 0 auto;
    margin-top: 7px;
}

.bizPageCtg{
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

#bizPageCtgBtn{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
}

.bizPageBtn{
		flex: 1 1 200px; 
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;   
    text-align: center;  
}

#wrap .bizPageBtn:hover{
	color: #39A7FF;
}
