@charset "UTF-8";


section {
		max-width: 1256px; /* 중앙 정렬을 위한 최대 너비 */
    margin: 0 auto;
    padding: 0 20px; 
    display: flex;
    flex-direction: column;
}	

header {
    margin-bottom: 20px;
}

header h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}



.bizPageCtg {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.bizCard {
    width: calc(28%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.bizCard h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.bizCard h5 {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: inline-block;
    top: 15px;
    left: 15px;
    background-color: #f1f1f1;
}

.businessAuth-btn {
    text-align: right;
}

#bizPageCtgBtn{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
}

.bizPageBtn{
		flex: 1 1 200px; 
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;   
    text-align: center;  
}

#wrap .bizPageBtn:hover{
	color: #39A7FF;
}
