@charset "UTF-8";

body {
	margin: 0;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	 scrollbar-width: none; /* for Firefox */
	 overflow-y: scroll; 
}

#wrap { margin:0 auto;	height: 520px;} 
 
#chatBox {height: 400px; overflow-y: scroll; padding:20px 20px; background:#FFFFFF;} 	

.msgBox  span {padding:3px 5px; word-break:break-all; display:block; 
						  max-width:280px; margin-bottom: 5px; border-radius: 10px;
						  font-family: "Noto Sans KR", sans-serif; letter-spacing: -1px;}
							 
.msgBox.send  span {background:#39A7FF; float:right; padding: 10px; color: #FFFFFF;}

.msgBox #in {width:280px; background:#FFFFFF;}

.msgBox.receive  span {background:#E6E6E6; float:left; padding: 10px;}

#chatSearchBox {
	width: 340px;
	height: 20px;
	background: white;
	padding: 10px 10px 10px 20px;
}

#message {
	border: none;
	background: white;
	outline: none;
	float: left;
	padding: 0 0 0 10px;
	color: #39A7FF;
	font-size: 16px;
	line-height: 20px;
	width: 200px;
	font-family: "Noto Sans KR", sans-serif; 
	letter-spacing: -1px;
}

#btnSubmit {
	float: right;
 	color: #39A7FF;
	font-size: 16px;
 	width: 40px;
	padding-block: 0;
	padding: 0;
	padding-inline: 0;
    margin: 0;
    border: none;
    background: white;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Noto Sans KR", sans-serif; 
	font-weight: bold;
 }
 
 #audioBox {
 	display: flex;
 	flex-direction: row-reverse;
 	padding-right: 35px;
 	padding-bottom: 20px;
 }    
 
 #audioBox button {
 	padding: 5px;
 	margin-right: 10px;
	border: 1px solid #39A7FF;
	border-radius: 5px;
  	background-color: #E0F4FF;
	opacity: 0.8;	 
 }

  #audioBox button:hover {
  	font-weight: bold;
  	opacity: 1.0;
  }