@charset "UTF-8";

table {
	width: 90%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #39A7FF;
	padding: 8px;
}

th {
	background-color: #E0F4FF;
	text-align: left;
}

td {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #F7FCFF;}