@charset "UTF-8";
/* menu.css
	: top.jsp + bottom.jsp */

/***********  **********/
/*********  ********/

a {
	text-decoration: none;
	color: inherit;
}


#headerBox a {
	text-decoration : none;
	color: black;
	font-weight: bold;
	letter-spacing: -1px;
	padding-right: 10px;
}

 .mainMenuFixed {
 	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000; /* 하단 section에 가려지는 부분 수정 */
}

.mainMenuShadow {
	box-shadow: 0 3px 5px 0px gray;
}

/*********** 1) header **********/
#headerBox {
	background: white;
}

.topMenuBoth {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
/* 	line-height: 0; */
	padding: 10px 10px;
	background: white;
}

@media (min-width: 768px) { /* 상단 메뉴바 크기 자동 조절 (브라우저 화면 크기에 따라) */
	.topMenuBoth {
		height: 60px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (min-width: 1256px) {
	.topMenuBoth {
		max-width: 1256px;
		margin: 0 auto;
		padding: 0 60px;
	}
}

@media (min-width: 1024px) {
	.topMenuBoth {
		padding: 0 60px;
	}
}

@media (min-width: 768px) {
	.topMenuBoth {
		padding: 0 40px;
	}
}

/********* 1-1) topMenuLeftBox ********/
#topMenuLeftBox {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	line-height: 0;
}

#logoBox {
	margin-right: 15px;
}

#logoImg {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.infoMenuItem {
	display: inline-block;
	margin: -4px;
	padding: 4px;
}

.infoMenuItem:hover {
	color: #39A7FF;
	cursor: pointer;
}

/********* 1-2) topMenuRightBox ********/
#topMenuRightBox a:hover {
	color: #39A7FF;
}

/********* 1-3) searchWrap ********/
#searchWrap {
}

#titleBox {
	float: left;
}

#searchBox {
	float: right;
	width: 300px;
	background: white;
	border-radius: 30px;
	padding: 10px;
	border: 1px solid #39A7FF;
}

#searchTxt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0 0 0 10px;
	color: #39A7FF;
	font-size: 16px;
	line-height: 30px;
	width: 200px;
}

 .hideBtn { /* 버튼을 이미지로 대체하기 위해 가려줌 */
 	color: #39A7FF;
 	float: right;
 	width: 30px;
 	line-height: 30px;
 	border-radius: 50%;
	padding: 0;
    margin: 0;
    border: none;
    background: white;
	cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }    


/*********** 2) nav **********/

#mainMenuBox li {

}

#mainMenuBox {
	margin-top: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#mainMenuItem {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	line-height: 0;
	background: white;
	padding-left: 15px;
	padding-right: 15px;
}

.mainMenuList {
	position: relative;
	height: 100%;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	color: black;
	display: inline-block;
	letter-spacing: -1px;
}

.mainMenuCtg {
	position: relative;
	display: inline-block;
	padding: 6px 0;
	cursor: pointer;
}

.mainMenuCtg:hover {
	color: #39A7FF;
}

.subMainMenu {
	display: flex;
	position: absolute;
	justify-content: center;
  	align-items: center;
	padding: 15px 0 15px 10px;
	top: 100%;
	right: 0;
	left: -10px;
	width: 120px;
	margin-top: 25px;
	box-sizing: border-box;
	background: white;
	z-index: 1000; /* 하단 section에 가려지는 부분 수정 */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: transform 0.3s;
}

.topMenuBoth:hover .subMainMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.subList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: none;
	padding-left: 0;
	font-size: 14px;
	min-height: 120px;
}

.subListItem {
	float: none;
	padding-right: 0;
	margin-right: 20px;
	position: relative;
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	color: black;
	display: block;
	letter-spacing: -1px;
	text-decoration : none;
}

.subListItem a{
	letter-spacing: -1px;
	text-decoration : none;
	font-weight: bold;
	color: black;
}

.subListItem a:hover {
	color: #39A7FF;
	cursor: pointer;
}

/*********** 3) footer **********/
#footerWrap {
	margin-top: 30px;
	height: 250px;
	letter-spacing: -1px;
	background: white;
	border-top: 1px solid gray;
}

#leftFooterBox {
	font-size: 14px;
	width: 45%
}

#csInfoBox {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.csInfoItem {
	padding-right: 10px;
}

#cpInfoBox {
	display: block;
    clear: both;
    content: ""
}

#companyInfo {
	font-size: 12px;
}

#companyInfo dl {
	float: left;
	display: inline-block;
}

#rightFooterBox {
	display: table;
	width: 100%;
	table-layout: fixed;
	box-sizing: border-box;
}

.footerMenuList {
	padding-inline-start: 0;
	list-style: none;
}

.footerMenuItem {
	float: right;
	margin-right: 15px;
	display: list-item;
}

.footerMenuItem a {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: none;
	padding-left: 0;
	font-size: 14px;
	height: 40px;
	line-height: 0;
}

#topBtn {
	position: fixed;
	right: 10px;
	cursor: pointer;
	z-index: 99;
	bottom: 75px;
}

#chatbotBox {
	position: fixed;
	right: 10px;
	cursor: pointer;
	z-index: 99;
	bottom: 30px;
}

#chatbotBox i {
	padding-right: 5px;	
}

.noshow {
    display: none;
}

#my_modal {
	border: 1px solid white;
	border-radius: 5px;
}

.forModal {
	display: flex;
	width: 420px;
	height: 482px;
	align-items: center;
	justify-content: space-between;
	background: white;
}

.forModal::-webkit-scrollbar {
  display: none;
}

.modal_close_btn {
	position: absolute;
	font-size: 30px;	
	right: 55px;
}
