@charset "UTF-8";


.container {
    max-width: 1256px; /* 최대 너비 설정 */
    margin: 0 auto;
    padding: 0 20px; /* 좌우 패딩 */
}

/*********** 1) Product List **********/
/* 슬라이더 컨테이너 설정 */
.slider-container {
  position: relative;
  width: 100%;
  justify-content: center;
   overflow: hidden;
}

/* 슬라이더 영역 */
.product-slider {
    display: flex;
    scroll-behavior: smooth;
    gap: 10px; /* 카드 간의 간격 설정 */
}

/* 제품 카드 설정 */
.product-card {
    flex: 0 0 auto;
    width: calc(19% - 6px); 
    box-sizing: border-box;
    text-align: center;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 10px; 
    margin: 5px; 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.product-card img {
    max-width: 100%; 
    height: 60%; 
}

.product-info p {
    margin: 5px 0; /* 텍스트 간의 여백 설정 */
}

/* 버튼 박스 스타일 */
#prevNextButtonBoxBest,
#prevNextButtonBoxNew {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* 버튼을 클릭할 수 있도록 하기 위한 설정 */
}

/* 이전 버튼 스타일 */
#prevButtonBest,
#nextButtonBest,
#prevButtonNew,
#nextButtonNew {
  pointer-events: auto; /* 버튼 클릭 가능 설정 */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경색 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

#prevButtonBest:hover,
#nextButtonBest:hover,
#prevButtonNew:hover,
#nextButtonNew:hover {
  opacity: 1; 
}

/* 버튼 이미지 스타일 */
#prevButtonBest img,
#nextButtonBest img,
#prevButtonNew img,
#nextButtonNew img {
  width: 20px;
  height: 20px;
  filter: invert(1); /* 이미지 색상 조정 */
}


/* 카테고리 탭 스타일 */
#categoryTabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#categoryTabs li {
    padding: 10px;
    background: #E0F4FF;
    border-radius: 5px;
}

#categoryTabs li.active {
    background: #39A7FF;
    color: #fff;
}

/* 카테고리별 상품 표시 */
.category-container {
    position: relative;
    gap: 10px;
    flex-wrap: wrap; /* 한 줄에 5개씩 표시하고 넘으면 아래로 감 */
    padding: 10px 0;
    
}

