@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

form {
	text-align: center;
}

section {
	width: 100%;
	max-width: 70%;
}

.header-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-actions h1 {
	margin-right: auto;
}

.header-actions .btn {
	margin-left: 10px;
}

.container {
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #39A7FF;
	border-radius: 5px;
	text-align: left;
}

.category-header {
	margin-bottom: 10px;
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
}

.category-header h3 {
	margin: 0;
	font-size: 1.5em;
	color: #333;
}

.tags-container {
	display: flex;
	flex-wrap: wrap;
}

.tag-item {
	margin: 5px;
	padding: 10px;
	transition: color 0.3s ease;
}

.tag-item:hover {
	color: #39A7FF;
}

.tag-item label {
	font-size: 1em;
	color: inherit;
}

.tag-item input[type="checkbox"] {
	margin-right: 5px;
}

#userTagList, #tagsContainer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.userItem {
	padding: 10px;
	border: 1px solid #87C4FF;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #000;
	text-align: center;
}

.userNewItem{
	border: 1px solid #FFAB40;
}

.userItem:hover {
	background-color: #87C4FF;
	color: white;
	font-weight: bold;
}

.userNewItem:hover{
	background-color: #FFAB40;
}