<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_final.metasumer.dao.ICommentDAO">
	<resultMap id="cmResult"
		type="com.spring_boot_final.metasumer.model.CommentVO">
		<result property="commentNo" column="commentNo" />
		<result property="memId" column="memId" />
		<result property="boardCtgId" column="boardCtgId" />
		<result property="recordNo" column="recordNo" />
		<result property="boardPostNo" column="boardPostNo" />
		<result property="createdDate" column="createdDate" />
		<result property="content" column="content" />
		<result property="secret" column="secret" />
	</resultMap>

	<!-- 물고기 댓글 등록 -->
	<insert id="addComment"
		parameterType="com.spring_boot_final.metasumer.model.CommentVO">
		INSERT INTO comment (memId, boardCtgId, recordNo, content, createdDate, secret)
		VALUES (#{memId}, #{boardCtgId}, #{recordNo}, #{content}, NOW(), #{secret})
	</insert>

	<!-- 물고기 댓글 목록 조회 -->
	<select id="listAllComment" resultMap="cmResult">
		SELECT c.commentNo, c.memId, c.boardCtgId, c.recordNo, c.createdDate,
		c.content, m.memNickname, c.secret
		FROM comment c
		JOIN member m ON c.memId = m.memId
		WHERE c.recordNo = #{recordNo}
		ORDER BY c.createdDate DESC
	</select>

	<!-- 물고기 댓글 수정 -->
	<update id="updateComment" parameterType="map">
		UPDATE comment
		SET content = #{content}, createdDate = NOW()
		WHERE commentNo = #{commentNo} AND recordNo = #{recordNo}
	</update>
	
	<!-- 물고기 댓글 삭제 -->
	<delete id="deleteComment" parameterType="map">
		DELETE FROM comment
		WHERE commentNo = #{commentNo} AND recordNo = #{recordNo}
	</delete>
	
	<!-- 댓글 등록 -->
	<insert id="addCommentBoard" parameterType="com.spring_boot_final.metasumer.model.CommentVO">
		INSERT INTO comment (memId, boardCtgId, boardPostNo, content, createdDate, secret)
		VALUES (#{memId}, #{boardCtgId}, #{boardPostNo}, #{content}, NOW(), #{secret})
	</insert>

	<!-- 댓글 목록 조회 -->
	<select id="listAllCommentBoard" resultMap="cmResult">
		SELECT c.commentNo, c.memId, c.boardCtgId, c.boardPostNo, c.createdDate, c.content, c.secret, m.memNickname
		FROM comment c
		JOIN member m ON c.memId = m.memId
		WHERE c.boardPostNo = #{boardPostNo}
		ORDER BY c.createdDate DESC
	</select>

	<!-- 댓글 수정 -->
	<update id="updateCommentBoard" parameterType="map">
		UPDATE comment
		SET content = #{content}, createdDate = NOW()
		WHERE commentNo = #{commentNo} AND boardPostNo = #{boardPostNo}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteCommentBoard" parameterType="map">
		DELETE FROM comment
		WHERE commentNo = #{commentNo} AND boardPostNo = #{boardPostNo}
	</delete>

</mapper>
