<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_final.metasumer.dao.IFishingDAO">
    <resultMap id="fishingResult" type="com.spring_boot_final.metasumer.model.FishingVO">
        <result property="fishingNo" column="fishingNo"  />
  		<result property="fishingDescription" column="fishingDescription"  />
  		<result property="fishingImg" column="fishingImg"  />
  		<result property="fishingCtgId" column="fishingCtgId"  />  		
  		<result property="fishingDetailCtgId" column="fishingDetailCtgId"  />
  		<result property="fishingDetailCtgName" column="fishingDetailCtgName"  />
    </resultMap>
    
    <!-- 카테고리 별 낚시 정보 조회  -->
  	<select id="fishingCtgList" resultMap="fishingResult">
  		SELECT fi.*, fdc.fishingDetailCtgName
        FROM fishing_info fi
        INNER JOIN fishing_detail_ctg fdc
        ON fi.fishingDetailCtgId = fdc.fishingDetailCtgId
        WHERE fi.fishingCtgId=#{fishingCtgId}
        ORDER BY fi.fishingNo
  	</select>
  	
  	<!-- 서브 카테고리 낚시 정보 조회 -->
  	<select id="fishingDetail" parameterType="string" resultType="hashmap">
  		SELECT * 
  		FROM fishing_detail_ctg fdc 
  		INNER JOIN fishing_ctg fc 
  		ON  fdc.fishingCtgId = fc.fishingCtgId 
  		WHERE fc.fishingCtgId=#{fishingCtgId};
  	</select>	
  </mapper>