<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring_boot_final.metasumer.dao.IMemberDAO">
	<resultMap id="mbResult"
		type="com.spring_boot_final.metasumer.model.MemberVO">
		<result property="memId" column="memId" />
		<result property="memPwd" column="memPwd" />
		<result property="memName" column="memName" />
		<result property="memEmail" column="memEmail" />
		<result property="memNickname" column="memNickname" />
		<result property="memHP" column="memHP" />
		<result property="memZipcode" column="memZipcode" />
		<result property="memAddress1" column="memAddress1" />
		<result property="memAddress2" column="memAddress2" />
		<result property="memGender" column="memGender" />
		<result property="memJoinDate" column="memJoinDate" />
		<result property="birthDate" column="birthDate" />
		<result property="memType" column="memType" />
		<result property="categoryName" column="categoryName" />
		<result property="tagName" column="tagName" />
		<result property="tagId" column="tagId" />
	</resultMap>
	
	<select id="loginCheck" parameterType="hashmap" resultType="string">
  		SELECT memPwd FROM member WHERE memId=#{id}
  	</select>
  	
  	<update id="loginLoss">
	    UPDATE member
	    SET  loss_count =  loss_count + 1
	    WHERE memId = #{memId}
	</update>
	
	<select id="getLossCount" resultType="int">
	    SELECT loss_count
	    FROM member
	    WHERE memId = #{memId}
	</select>
	
	<update id="lossCountReset">
	    UPDATE member
	    SET  loss_count =  0
	    WHERE memId = #{memId}
	</update>
	
	<update id="updateLossStatus">
	    UPDATE member
	    SET status = 'inactive'
	    WHERE memId = #{memId} AND loss_count >= 5
	</update>
	
  	<update id="loginCount">
	    UPDATE member
	    SET login_count = login_count + 1
	    WHERE memId = #{id}
	</update>

	<select id="categoryList" resultMap="mbResult">
  		SELECT interestId, categoryName
        FROM interestcategory
  	</select>
  	
	<select id="checkMemId" resultType="int">
  		SELECT COUNT(*)
        FROM business
        WHERE memId = #{id}
  	</select>
  	
	<select id="tagList" resultMap="mbResult">
  		SELECT interestId, tagName, tagId
        FROM interesttag
  	</select>

	<select id="newtagList" resultMap="mbResult">
  		SELECT t.tagId, t.tagName, t.interestId
		FROM interesttag t
		LEFT JOIN memberInterest m ON t.tagId = m.tagId AND m.memId = #{memId}
		WHERE m.tagId IS NULL;
  	</select>
  	
  	<select id="userTagList" resultMap="mbResult">
  		SELECT m.memId, t.tagId, t.tagName, t.interestId,c.categoryName
		FROM memberInterest m
		JOIN interesttag t ON m.tagId = t.tagId
		JOIN interestcategory c ON t.interestId = c.interestId
		WHERE m.memId = #{memId}
  	</select>
  	
  	<insert id="saveInterests" parameterType="map">
        INSERT INTO memberInterest (memId, tagId)
        VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{memId}, #{tagId})
        </foreach>
    </insert>
    
    <delete id="deleteInterests">
    	DELETE FROM memberInterest
		WHERE memId = #{memId};
    </delete>
    
	
    <select id="getUsermemNickname" parameterType="string" resultType="map">
        SELECT memNickname, memType, status
        FROM member
        WHERE memId = #{id}
    </select>
    
    <insert id="insertMember" parameterType="com.spring_boot_final.metasumer.model.MemberVO">
    INSERT INTO member (
        memId, memPwd, memName, memEmail, memNickname, memHP, memZipcode, memAddress1, memAddress2, memGender, memJoinDate, memType, birthDate
    ) VALUES (
        #{memId}, #{memPwd}, #{memName}, #{memEmail}, #{memNickname}, #{memHP}, #{memZipcode}, #{memAddress1}, #{memAddress2}, #{memGender}, CURDATE(), #{memType}, #{birthDate}
    );
	</insert>
	
	<select id="memIdCheck" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE memId = #{memId}
    </select>
    
	<select id="memNicknameCheck" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE memNickname = #{memNickname}
    </select>
    
    <insert id="insertBusinessAuth" parameterType="com.spring_boot_final.metasumer.model.BusinessAuthVO">
	    INSERT INTO business (
	        memId, businessName, authStatus, authDate, bizRegNumber, businessType, bizRegImg, delegate, businessAddress, businessCategory, issueDate
	    ) VALUES (
	        #{memId}, #{businessName}, #{authStatus}, CURRENT_DATE, #{bizRegNumber}, #{businessType}, #{bizRegImg}, #{delegate}, #{businessAddress}, #{businessCategory}, #{issueDate}
	    );
	</insert>
	
	<select id="findId" resultType="string">
	    SELECT memId
	    FROM member
	    WHERE memName = #{memName}
	      AND birthDate = #{birthDate}
	      AND memHP = #{memHP}
	      AND memEmail = #{memEmail}
	</select>
	
	<select id="findPasswordCount" resultType="int">
  		SELECT COUNT(*)
        FROM member
        WHERE memId = #{memId}
          AND birthDate = #{birthDate}
	      AND memName = #{memName}
	      AND memEmail = #{memEmail}
  	</select>
  	
  	<update id="findUpdatePassword">
        UPDATE member
        SET memPwd = #{newPassword}
        WHERE memId = #{memId}
    </update>
    
	
</mapper>
